.appFormDefault {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appForm {
  width: 50%;
  background-color: var(--main-bg-color);
  padding: 25px 40px;
  overflow: auto;
}
