.appAside {
  width: 50%;
  background-color: var(--main-accent-color);
  display: flex;
  align-items: center;
  justify-content: right;
}

.appAsideText {
  font-family: var(--secondary-font);
  font-size: 5rem;
  margin-right: 40px;
}
