@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

:root {
  /* Colors */
  --main-bg-color: #12130f;

  --main-text-color: white;

  --main-accent-color: #6b5b95;
  --secondary-accent-color: #40434e;

  --placeholder-text-color: #616e7f;

  /* Fonts */
  --secondary-font: "Major Mono Display", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::placeholder {
  color: var(--placeholder-text-color);
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

.mr-20 {
  margin-right: 20px !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

/*
  Material bubble styles
*/

.materialBubble {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.materialBubble:active {
  transform: translateY(3px);
}

.materialBubble {
  position: relative;
  background-color: white;
  color: var(--main-bg-color);
  border: none;
  overflow: hidden;
  box-shadow: none;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
}

.materialBubble:hover {
  color: #e6e6e6;
  background-color: transparent;
}

.materialBubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, border 0.3s;
}

.materialBubble:hover::before {
  opacity: 0;
}

.materialBubble span {
  z-index: 999;
  position: relative;
}

.materialBubble::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: var(--main-accent-color);
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.materialBubble:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
}

/*
  Material bubble styles end
*/
